{% extends 'base.html' %}
{% block content %}

<form class="buttons" method="post" id="buttons">
    <h3>Enter The Chat Room</h3>
    <div>
        <label for="name">Name:</label>
        <input type="text" placeholder="Pick a Name" name="name" value="{{name}}" id="nameform">
    </div>
    <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{code}}">
        <button type="submit" name="join">join a Room</button>
    </div>
    <div>
        <button type="submit" name="create" class="create-btn">Create a Room</button>
        <label for="private">Create Private Room:</label>
        <input type="checkbox" name="private" id="private">
    </div>

    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>

<div class="rooms">
    {% for room in rooms %}
    {% if rooms[room]["private"] == "no" %}
    <div class="room">
        <button id="joinbtn" onclick="connectRoom()">Join Room</button>
        <h3 id="roomcode">Room Code: {{room}}</h3>
        <h4>People in the chat</h4>
        <ul>
            {% for names in rooms[room]["names"] %}
            <li>{{names}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>

<script type="text/javascript">



    function connectRoom() {
        let name = document.getElementById("nameform").value;
        let text;
        //console.log(name)
        if (name == "" || name == null) {
            name = prompt("Enter your nickname: ");
            if (name == null || name == "") {
                text = "User cancelled"
            }
            else {
                const elements = event.target.closest('.room')
                const h3code = elements.querySelector('h3').textContent;
                // resolver essa parte amanha
                //console.log(h3code.length)
                let codess = "";
                for (let i = 0; i < h3code.length; i++) {
                    if (i > 10) {
                        codess += h3code[i]
                    }
                }
                //console.log(codess)
                const data = {
                    name: name,
                    code: codess
                }

                fetch('/', {
                    method: 'PATCH',
                    redirect: 'follow',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data),
                }).catch((response) => {
                    console.log(response)
                    console.log(response.data)

                }).then(response => {
                    if (response.status != 200) {
                        response.json().then((data) => {

                            const span_error = document.createElement("span")
                            span_error.textContent = data["data"]
                            span_error.style.color = "red"
                            const forming = document.getElementById("buttons")
                            forming.appendChild(span_error)

                        })
                    } else {
                        window.location.href = location.href + "room"
                    }

                })
            }

        } else {
            //if the name is inputed in the name form


            const elements = event.target.closest('.room')
            const h3code = elements.querySelector('h3').textContent;
            // resolver essa parte amanha
            //console.log(h3code.length)
            let codess = "";
            for (let i = 0; i < h3code.length; i++) {
                if (i > 10) {
                    codess += h3code[i]
                }
            }

            const data = {
                name: name,
                code: codess
            }
            //console.log(codess)

            fetch('/', {
                method: 'PATCH',
                redirect: 'follow',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data),
            }).catch((response) => {
                console.log(response)
                console.log(response.data)

            }).then(response => {
                if (response.status != 200) {
                    response.json().then((data) => {

                        const span_error = document.createElement("span")
                        span_error.textContent = data["data"]
                        span_error.style.color = "red"
                        const forming = document.getElementById("buttons")
                        forming.appendChild(span_error)

                    })
                } else {
                    window.location.href = location.href + "room"
                }

            })
        }
    }


</script>

{% endblock %}